/CustomServer/Build/*
/CustomServer/CustomServer/.vs
/CustomServer/CustomServer/bin
/CustomServer/CustomServer/obj
/CustomServer/UnitTest/.vs
/CustomServer/UnitTest/bin
/CustomServer/UnitTest/obj
/CustomServer/UnityClient/.vs
CustomServer/UnityClient/.vsconfig
CustomServer/UnityClient/Assembly-CSharp.csproj
/CustomServer/UnityClient/Library
/CustomServer/UnityClient/Logs
/CustomServer/UnityClient/obj
/CustomServer/UnityClient/Packages
/CustomServer/UnityClient/Temp
CustomServer/UnityClient/UserSettings/EditorUserSettings.asset
CustomServer/UnityClient/UserSettings/Layouts/default-6000.dwlt
CustomServer/UnityClient/UserSettings/Search.settings
CustomServer/UnityClient/Sample.sln
/CustomServer/UnityClient/Assets/TextMesh Pro
CustomServer/UnityClient/Assets/TextMesh Pro.meta
CustomServer/UnityClient/Assets/SceneDependencyCache.meta
/CustomServer/UnityClient/Assets/SceneDependencyCache
/CustomServer/CustomServer/.vs
/CustomServer/CustomServer/bin
/CustomServer/CustomServer/obj
!/DeterministicServer/README.md
/DeterministicServer/Build/*
/DeterministicServer/CustomServer/.vs
/DeterministicServer/CustomServer/bin
/DeterministicServer/CustomServer/obj
/DeterministicServer/UnitTest/.vs
/DeterministicServer/UnitTest/bin
/DeterministicServer/UnitTest/obj
/DeterministicServer/UnityClient/.vs
DeterministicServer/UnityClient/.vsconfig
DeterministicServer/UnityClient/Assembly-CSharp.csproj
/DeterministicServer/UnityClient/Library
/DeterministicServer/UnityClient/Logs
/DeterministicServer/UnityClient/obj
/DeterministicServer/UnityClient/Packages
/DeterministicServer/UnityClient/Temp
DeterministicServer/UnityClient/UserSettings/EditorUserSettings.asset
DeterministicServer/UnityClient/UserSettings/Layouts/default-6000.dwlt
DeterministicServer/UnityClient/UserSettings/Search.settings
DeterministicServer/UnityClient/Sample.sln
/DeterministicServer/UnityClient/Assets/TextMesh Pro
DeterministicServer/UnityClient/Assets/TextMesh Pro.meta
DeterministicServer/UnityClient/Assets/SceneDependencyCache.meta
/DeterministicServer/UnityClient/Assets/SceneDependencyCache
/DeterministicServer/DeterministicServer/.vs
/DeterministicServer/DeterministicServer/bin
/DeterministicServer/DeterministicServer/obj

CustomServer/UnityClient/UnityClient.sln
